/* begin Page */



#art-page-background-glare-image
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+GetStyleUrl()+"images/Page-BgGlare.png',sizingMethod='crop')");
}
img
{
	filter:expression(fixPNG(this));
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet, .art-Sheet-body
{
	zoom:1;
}

.art-Sheet-body
{
	position:static;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	font-size: 1px;
	background: none;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='scale')");
}

.art-Sheet-tl
{
	clip: rect(auto 95px 95px auto);
}

.art-Sheet-tr
{
	left: expression(this.parentNode.offsetWidth-190+'px');
	clip: rect(auto auto 95px 95px);
}

.art-Sheet-bl
{
	top: expression(this.parentNode.offsetHeight-190+'px');
	clip: rect(95px 95px auto auto);
}

.art-Sheet-br
{
	top: expression(this.parentNode.offsetHeight-190+'px');
	left: expression(this.parentNode.offsetWidth-190+'px');
	clip: rect(95px auto auto 95px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	width: expression(this.parentNode.offsetWidth-190+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-h.png',sizingMethod='scale')");
}

.art-Sheet-tc
{
	clip: rect(auto auto 95px auto);
}

.art-Sheet-bc
{
	top: expression(this.parentNode.offsetHeight-190+'px');
	clip: rect(95px auto auto auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	height: expression(this.parentNode.offsetHeight-190+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-v.png',sizingMethod='scale')");
}

.art-Sheet-cr
{
	left: expression(this.parentNode.offsetWidth-190+'px');
	clip: rect(auto auto auto 95px);
}

.art-Sheet-cl
{
	clip: rect(auto 95px auto auto);
}

.art-Sheet-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-190+'px');
	height: expression(this.parentNode.offsetHeight-190+'px');
	background-color: #FCFDFD;
}
#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	width:expression(document.body.clientWidth > 1000 ? "100%" : "1000px");
}
/* end Box, Sheet */

/* begin Header */
div.art-Header-png
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Header.png',sizingMethod='crop')");
}
/* end Header */

/* begin Menu */

.art-menu ul
{
	height: 1%;
	width:1px;
}

.art-menu, .art-menu ul
{
	height: 1%;
}

.art-menu li.art-menuhover
{
	z-index: 10000;
}

.art-menu .art-menuhoverUL
{
	visibility: visible;
}

.art-menu .art-menuhoverUL
{
	top: 100%;
	left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 0;
	left: 100%;
}

.art-menu ul a
{
	height: 1%;
}

.art-menu li li
{
	float: left;
	width: 100%;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 5px;
	left: 100%;
}

.art-menu, .art-menu ul
{
	height: 1%;
}

.art-menu li.art-menuhover
{
	z-index: 10000;
}

.art-menu .art-menuhoverUL
{
	visibility: visible;
}

.art-menu .art-menuhoverUL
{
	top: 100%;
	left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 0;
	left: 100%;
}

.art-menu ul a
{
	height: 1%;
}

.art-menu li li
{
	float: left;
	width: 100%;
}

.art-nav
{
	zoom: 1;
}

.art-nav .l, .art-nav .r
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.art-nav .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.art-nav .r
{
	left: expression(this.parentNode.offsetWidth-960+'px');
	clip: rect(auto auto auto 960px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a
{
	float:left;
}

.art-menu a:hover
{
	visibility:visible;
}

.art-menu a .r, .art-menu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuItem.png',sizingMethod='crop')");
}

.art-menu a .r
{
	left: expression(this.parentNode.offsetWidth-408+'px');
	clip: rect(auto auto auto 404px);
}

.art-menu a .l
{
	width: expression(this.parentNode.offsetWidth-4+'px');
}

.art-menuhover .art-menuhoverA .t
{
	color: #000000;
}

.art-menuhover .art-menuhoverA .l, .art-menuhover .art-menuhoverA .r
{
	top: -28px;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-nav .art-menu-separator
{
	font-size: 1px;
	zoom:1;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuSeparator.png',sizingMethod='crop')");
}
/* end MenuSeparator */

/* begin Box, Block */
.art-Block, .art-Block-body
{
	zoom:1;
}

.art-Block-body
{
	position:static;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	font-size: 1px;
	background: none;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-s.png',sizingMethod='scale')");
}

.art-Block-tl
{
	clip: rect(auto 5px 5px auto);
}

.art-Block-tr
{
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(auto auto 5px 5px);
}

.art-Block-bl
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	clip: rect(5px 5px auto auto);
}

.art-Block-br
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(5px auto auto 5px);
}

.art-Block-tc, .art-Block-bc
{
	width: expression(this.parentNode.offsetWidth-10+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-h.png',sizingMethod='scale')");
}

.art-Block-tc
{
	clip: rect(auto auto 5px auto);
}

.art-Block-bc
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	clip: rect(5px auto auto auto);
}

.art-Block-cr, .art-Block-cl
{
	height: expression(this.parentNode.offsetHeight-10+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-v.png',sizingMethod='scale')");
}

.art-Block-cr
{
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(auto auto auto 5px);
}

.art-Block-cl
{
	clip: rect(auto 5px auto auto);
}

.art-Block-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-10+'px');
	height: expression(this.parentNode.offsetHeight-10+'px');
	background-color: #F1F3F3;
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader, .art-BlockHeader
{
	font-size: 1px;
}
.art-BlockHeader .l, .art-BlockHeader .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeader.png',sizingMethod='crop')");
}

.art-BlockHeader .r
{
	left: expression(this.parentNode.offsetWidth-960+'px');
	clip: rect(auto auto auto 956px);
}

.art-BlockHeader .l
{
	width: expression(this.parentNode.offsetWidth-4+'px');
}

.art-header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent, .art-BlockContent-body
{
	zoom:1;
}

.art-BlockContent-body
{
	position:static;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl, .art-BlockContent-tc, .art-BlockContent-bc,.art-BlockContent-cr, .art-BlockContent-cl
{
	font-size: 1px;
	background: none;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-s.png',sizingMethod='scale')");
}

.art-BlockContent-tl
{
	clip: rect(auto 5px 5px auto);
}

.art-BlockContent-tr
{
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(auto auto 5px 5px);
}

.art-BlockContent-bl
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	clip: rect(5px 5px auto auto);
}

.art-BlockContent-br
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(5px auto auto 5px);
}

.art-BlockContent-tc, .art-BlockContent-bc
{
	width: expression(this.parentNode.offsetWidth-10+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-h.png',sizingMethod='scale')");
}

.art-BlockContent-tc
{
	clip: rect(auto auto 5px auto);
}

.art-BlockContent-bc
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	clip: rect(5px auto auto auto);
}

.art-BlockContent-cr, .art-BlockContent-cl
{
	height: expression(this.parentNode.offsetHeight-10+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-v.png',sizingMethod='scale')");
}

.art-BlockContent-cr
{
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(auto auto auto 5px);
}

.art-BlockContent-cl
{
	clip: rect(auto 5px auto auto);
}

.art-BlockContent-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-10+'px');
	height: expression(this.parentNode.offsetHeight-10+'px');
	background-color: #E6EAE9;
}

.art-BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post, .art-Post-body
{
	zoom:1;
}

.art-Post-body
{
	position:static;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.art-Post ul li, .art-Post ol ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostBullets.png',sizingMethod='crop')");
}

.art-Post ul ol li
{
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
.art-button-wrapper .art-button
{
	display:list-item;
	list-style-type:none;
	float:left;
}

.art-button-wrapper, .art-button-wrapper .l, .art-button-wrapper .r
{
	font-size: 1px;
}

.art-button-wrapper .art-button
{
	float:left;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Button.png',sizingMethod='crop')");
}

.art-button-wrapper .r
{
	left: expression(this.parentNode.offsetWidth-423+'px');
	clip: rect(auto auto auto 406px);
}

.art-button-wrapper .l
{
	width: expression(this.parentNode.offsetWidth-17+'px');
}

/* end Button */

/* begin Footer */
.art-Footer .art-Footer-background
{
	top: expression(this.parentNode.offsetHeight-150+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Footer.png',sizingMethod='crop')");
	zoom: 1;
	font-size:1px;
}

.art-rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/rssIcon.png',sizingMethod='crop')");
}

/* end Footer */



#user-login-form ul li, ul.arttabs_primary li, ul.arttabs_secondary li
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}

.BlockContent
{
	width: 100% !important;	
}
