/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 95px 95px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 95px 95px);
}

.art-Sheet-bl
{
	clip: rect(95px 95px auto auto);
}

.art-Sheet-br
{
	clip: rect(95px auto auto 95px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 95px auto);
}

.art-Sheet-bc
{
	clip: rect(95px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 95px);
}

.art-Sheet-cl
{
	clip: rect(auto 95px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{	clip: rect(auto auto auto 960px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 404px);
}
/* end MenuItem */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 5px 5px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 5px 5px);
}

.art-Block-bl
{
	clip: rect(5px 5px auto auto);
}

.art-Block-br
{
	clip: rect(5px auto auto 5px);
}

.art-Block-tc
{
	clip: rect(auto auto 5px auto);
}

.art-Block-bc
{
	clip: rect(5px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 5px);
}

.art-Block-cl
{
	clip: rect(auto 5px auto auto);
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader .r
{
	clip: rect(auto auto auto 956px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent-tl
{
	clip: rect(auto 5px 5px auto);
}

.art-BlockContent-tr
{
	clip: rect(auto auto 5px 5px);
}

.art-BlockContent-bl
{
	clip: rect(5px 5px auto auto);
}

.art-BlockContent-br
{
	clip: rect(5px auto auto 5px);
}

.art-BlockContent-tc
{
	clip: rect(auto auto 5px auto);
}

.art-BlockContent-bc
{
	clip: rect(5px auto auto auto);
}

.art-BlockContent-cr
{
	clip: rect(auto auto auto 5px);
}

.art-BlockContent-cl
{
	clip: rect(auto 5px auto auto);
}
/* end Box, BlockContent */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 406px);
}
/* end Button */

