/*
Theme Name: City
Description: City
Version: 1.0
Author: James Alford
Author URI: http://jamesalford.com/
*/

/* begin Page */



body
{
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

#art-page-background-glare
{
	position: absolute;
	width: 100%;
	height: 423px;
	left: 0;
	top: 0;
}

#art-page-background-glare-image
{
	background-image: url('images/Page-BgGlare.png');
	background-repeat: no-repeat;
	height: 423px;
	width: 274px;
	margin: 0;
}

html:first-child #art-page-background-glare
{
	border: 1px solid transparent; /* Opera fix */
}




#art-page-background-simple-gradient
{
	position: absolute;
	background-image: url('images/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width: 100%;
	height: 900px;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:111px;
	min-height:111px;
}

.art-Sheet-body
{
	position: relative;
	z-index:1;
	padding: 20px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 190px;
	height: 190px;
	background-image: url('images/Sheet-s.png');
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 95px, 95px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 95px, 95px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(95px, 95px, auto, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(95px, auto, auto, 95px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 95px;
	right: 95px;
	height: 190px;
	background-image: url('images/Sheet-h.png');
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 95px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(95px, auto, auto, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 95px;
	bottom: 95px;
	width: 190px;
	background-image: url('images/Sheet-v.png');
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 95px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 95px, auto, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 95px;
	left: 95px;
	right: 95px;
	bottom: 95px;
	background-color: #FCFDFD;
}


.art-Sheet
{
	margin-top: 30px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Header */
div.art-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 960px;
	height: 225px;
}

div.art-Header-png
{
	position: absolute;
	z-index:-2;
	top: 0;
	left: 0;
	width: 960px;
	height: 225px;
	background-image: url('images/Header.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div.art-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 960px;
	height: 225px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.art-Logo
{
	display : block;
	position: absolute;
	left: 10px;
	top: 80px;
	width: 268px;
}

h1.art-Logo-name
{
	display: block;
	text-align: center;
}

h1.art-Logo-name, h1.art-Logo-name a, h1.art-Logo-name a:link, h1.art-Logo-name a:visited, h1.art-Logo-name a:hover
{
	font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding:0;
	margin:0;
	color: #222624 !important;
}

.art-Logo-text
{
	display: block;
	text-align: center;
}

.art-Logo-text, .art-Logo-text a
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	padding:0;
	margin:0;
	color: #222624 !important;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.art-menu, .art-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.art-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.art-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.art-menu li li
{
	float: none;
}

.art-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.art-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.art-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.art-menu:after, .art-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.art-menu, .art-menu ul
{
	min-height: 0;
}

.art-menu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}





/* menu structure */

.art-menu
{
	padding: 6px 6px 6px 6px;
}

.art-nav
{
	position: relative;
	height: 40px;
	z-index: 100;
}

.art-nav .l, .art-nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 40px;
	background-image: url('images/nav.png');
}

.art-nav .l
{
	left: 0;
	right:0px;
}

.art-nav .r
{
	right: 0;
	width: 960px;
	clip: rect(auto, auto, auto, 960px);
}


/* end Menu */

/* begin MenuItem */
.art-menu ul li
{
	clear: both;
}

.art-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 28px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
}


.art-menu a .r, .art-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 84px;
	background-image: url('images/MenuItem.png');
}

.art-menu a .l
{
	left:0;
	right:4px;
}

.art-menu a .r
{
	width:408px;
	right:0;
	clip: rect(auto, auto, auto, 404px);
}

.art-menu a .t 
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #312407;
	padding: 0 19px;
	margin: 0 4px;
	line-height: 28px;
	text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
	top:-28px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
	top:-28px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
	top:-28px;
}
.art-menu a:hover .t
{
	color: #000000;
}

.art-menu li:hover a .t
{
	color: #000000;
}

.art-menu li:hover>a .t
{
	color: #000000;
}


.art-menu a.active .l, .art-menu a.active .r
{
	top: -56px;
}

.art-menu a.active .t
{
	color: #000000;
}


/* end MenuItem */

/* begin MenuSeparator */
.art-nav .art-menu-separator
{
	display: block;
	width: 1px;
	height: 28px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin ContentLayout */
.art-contentLayout
{
	position: relative;
	margin-bottom: 14px;
	width: 960px;
}
/* end ContentLayout */

/* begin Box, Block */
.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:11px;
	min-height:11px;
}

.art-Block-body
{
	position: relative;
	z-index:1;
	padding: 7px;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	position:absolute;
	z-index:-1;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	width: 10px;
	height: 10px;
	background-image: url('images/Block-s.png');
}

.art-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 5px, 5px, auto);
}

.art-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 5px, 5px);
}

.art-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(5px, 5px, auto, auto);
}

.art-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(5px, auto, auto, 5px);
}

.art-Block-tc, .art-Block-bc
{
	left: 5px;
	right: 5px;
	height: 10px;
	background-image: url('images/Block-h.png');
}

.art-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 5px, auto);
}

.art-Block-bc
{
	bottom: 0;
	clip: rect(5px, auto, auto, auto);
}

.art-Block-cr, .art-Block-cl
{
	top: 5px;
	bottom: 5px;
	width: 10px;
	background-image: url('images/Block-v.png');
}

.art-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 5px);
}

.art-Block-cl
{
	left:0;
	clip: rect(auto, 5px, auto, auto);
}

.art-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background-color: #F1F3F3;
}


.art-Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 7px;
}

.art-BlockHeader .t
{
	height: 30px;
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	white-space : nowrap;
	padding: 0 7px;
	line-height: 30px;	
}

.art-BlockHeader .t h2.subject
{
	height: 30px;
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	white-space : nowrap;
	padding: 0 7px;
	line-height: 30px;
	top: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.art-BlockHeader .l, .art-BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('images/BlockHeader.png');
}

.art-BlockHeader .l
{
	left:0;
	right:4px;
}

.art-BlockHeader .r
{ 
	width:960px;
	right:0;
	clip: rect(auto, auto, auto, 956px);
}




/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:11px;
	min-height:11px;
}

.art-BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 8px;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl, .art-BlockContent-tc, .art-BlockContent-bc,.art-BlockContent-cr, .art-BlockContent-cl
{
	position:absolute;
	z-index:-1;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl
{
	width: 10px;
	height: 10px;
	background-image: url('images/BlockContent-s.png');
}

.art-BlockContent-tl
{
	top:0;
	left:0;
	clip: rect(auto, 5px, 5px, auto);
}

.art-BlockContent-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 5px, 5px);
}

.art-BlockContent-bl
{
	bottom: 0;
	left: 0;
	clip: rect(5px, 5px, auto, auto);
}

.art-BlockContent-br
{
	bottom: 0;
	right: 0;
	clip: rect(5px, auto, auto, 5px);
}

.art-BlockContent-tc, .art-BlockContent-bc
{
	left: 5px;
	right: 5px;
	height: 10px;
	background-image: url('images/BlockContent-h.png');
}

.art-BlockContent-tc
{
	top: 0;
	clip: rect(auto, auto, 5px, auto);
}

.art-BlockContent-bc
{
	bottom: 0;
	clip: rect(5px, auto, auto, auto);
}

.art-BlockContent-cr, .art-BlockContent-cl
{
	top: 5px;
	bottom: 5px;
	width: 10px;
	background-image: url('images/BlockContent-v.png');
}

.art-BlockContent-cr
{
	right:0;
	clip: rect(auto, auto, auto, 5px);
}

.art-BlockContent-cl
{
	left:0;
	clip: rect(auto, 5px, auto, auto);
}

.art-BlockContent-cc
{
	position:absolute;
	z-index:-1;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background-color: #E6EAE9;
}


.art-BlockContent-body
{
	color:#545F5B;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

.art-BlockContent-body a:link
{
	color: #8A6714;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	color: #7D8C87;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #7E7320;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #434C49;
	margin:0;
	padding:0;
}

.art-BlockContent-body li
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

.art-BlockContent-body ul li
{
	padding:0px 0 0px 16px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}


..art-BlockContent-body .calendar-calendar td a:visited, .art-BlockContent-body .calendar-calendar td a.visited
{
	color: #8A6714;
}

.art-BlockContent-body  .links li
{
	float: left;
	padding: 0 0 0 1em;
	background-image: none;
}

.art-BlockContent-body .calendar-calendar td a:hover
{
	text-decoration:underline;
}

.art-BlockContent-body table td.mini a
{
	font-weight:normal;
}

.art-BlockContent-body table td div.mini-day-on a 
{
	text-decoration:underline;
}

.art-BlockContent-body .calendar-calendar td a
{
	text-decoration:none;
}
/* end Box, BlockContent */

/* begin Box, Post */
.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-Post-body
{
	position: relative;
	z-index:1;
	padding: 12px;
}



.art-Post
{
	margin: 5px;
}

/* Start images */
a img
{
	border: 0;
}

.art-article img, img.art-article
{
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}
/* Finish images */

/* Start tables */

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 1px #D1C147;
	vertical-align: top;
	text-align:left;
}

.art-article th
{
	text-align:center;
	vertical-align:middle;
	padding: 7px;
}

/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.art-PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: #3A413E;
}

.art-PostHeaderIcon-wrapper, .art-PostHeaderIcon-wrapper a, .art-PostHeaderIcon-wrapper a:link, .art-PostHeaderIcon-wrapper a:visited, .art-PostHeaderIcon-wrapper a:hover
{
	font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: #3A413E;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-PostHeader a:link
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #464E4B;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  color: #75847F;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  text-decoration: underline;
  color: #1A1E1D;
}
/* end PostHeader */

/* begin PostIcons */
.art-PostHeaderIcons
{
	padding:1px;
}

.art-PostHeaderIcons, .art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	color: #4D5653;
}

.art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
	margin:0;
}

.art-PostHeaderIcons a:link
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #987116;
}

.art-PostHeaderIcons a:visited, .art-PostHeaderIcons a.visited
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #8B9894;
}

.art-PostHeaderIcons a:hover, .art-PostHeaderIcons a.hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	letter-spacing: 1px;
	color: #515C58;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #3A413E;
}

.art-PostContent
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: justify;
  color: #3A413E;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #987116;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #987116;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #515C58;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  letter-spacing: 1px;
  color: #6E7C78;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: left;
  color: #987116;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  color: #987116;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #6E7C78;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #626F6B;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: #626F6B;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  color: #626F6B;
}
/* Finish Content headings Fonts & Colors  */

.art-PostContent .calendar-calendar ul li, .art-PostContent .calendar-calendar ol ul li,
.art-PostContent div.view div.views-admin-links ul li, .art-PostContent div.view div.views-admin-links ol ul li
{
	background-image: none;
	padding: 2px;
}

.date-heading h3
{
	text-align: center;
}

.art-PostContent ul.arttabs_primary li, .art-PostContent ul.arttabs_secondary li
{
	background-repeat: no-repeat;
	background-image: none;
}/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #241B05;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	text-align: left;
	margin-left: 12px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.art-Post li
{
	padding:0px 0 0px 10px;
	line-height:1.2em;
}

.art-Post ol li, .art-Post ul ol li
{
	background: none;
	padding-left:0;
}

.art-Post ul li, .art-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:10px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color:#3E4644;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

blockquote
{
		border:solid 1px #B6BEBC; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 27px;
	background-color:#D9DDDC;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin PostMetadata */
.art-PostMetadataFooter
{
	padding:1px;
	background-color: #D9DDDC;
}
/* end PostMetadata */

/* begin PostIcons */
.art-PostFooterIcons
{
	padding:1px;
}

.art-PostFooterIcons, .art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	color: #4D5653;
}

.art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
	margin:0;
}

.art-PostFooterIcons a:link
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #866313;
}

.art-PostFooterIcons a:visited, .art-PostFooterIcons a.visited
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #788782;
}

.art-PostFooterIcons a:hover, .art-PostFooterIcons a.hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	color: #606C68;
}
/* end PostIcons */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:34px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 34px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 34px;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 26px !important;
	line-height: 34px;
	text-decoration: none !important;
	color: #1A1E1D !important;
}

input, select
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #1A1E1D !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #FAF8EB !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 102px;
	background-image: url('images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:17px;
}

.art-button-wrapper .r
{
	width:423px;
	right:0;
	clip: rect(auto, auto, auto, 406px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -34px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -68px;
}


/* end Button */

/* begin Footer */
.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 960px;
	margin: 5px auto 0px auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

.art-Footer .art-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 960px;
	height: 150px;
	bottom:0;
	left:0;
}


.art-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 32px;
	width: 30px;
}




.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#3E4644;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #181B1A;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #48514E;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #48514E;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#B3851A;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#808E8A;
}
/* end PageFooter */

/* begin LayoutCell */
.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 239px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 481px;
}
.art-contentLayout .art-content-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 720px;
}
.art-contentLayout .art-content-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 720px;
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 959px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 239px;
}
/* end LayoutCell */



/*
** HTML elements
*/
#footer
{
	text-align: center;
}

ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	background-image: none;
	list-style-type: none;
	list-style-image: none;	
}

.arttabs_primary, .arttabs_secondary, .links, .service-links img, service-links img
{
	padding-left: 0px;
	margin: 0px;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.arttabs_primary li a, ul.arttabs_secondary li a
{
	margin: 0 5px;
}

ul.links li
{
	display: inline;
	background-image: none;
}

#user-login-form 
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left:0;
}

ul.menu li a.active
{
	font-weight: bold;
}

fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid ;
	width: 95%;
}

fieldset legend 
{
	/* Fix disappearing legend in FFox */
	display: block;
}

.breadcrumb 
{
	display: block; 
	padding-bottom: .7em;
}

.form-text, .form-textarea
{
	width: 95%;
	text-align: left;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background:#C9FBC8;
	margin: 5px 0;
}

.messages li
{
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0px transparent;
	border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0px;
	text-align:left;
}

.sticky-table H2
{
	font-size: 10px;
}

.Footer .Footer-inner
{
	float: left;
	width: 100%;
}

.BlockContent
{
	width: 100% !important;	
}
